/*appliquer un style général au body*/
body {
    display: flex;/*pour centrer la carte*/
    justify-content: center;
    align-items: center;
    height: 100vh;/*prend toute la hauteur de l'écran*/
    background-color:#E1C356;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
/*styliser la carte*/
.card {
    width: 350px;
background-color: #ffffff;
border-radius: 15px;
border: 2px solid black ;/*contour noir fin mais visible*/
box-shadow:  10px 10px 20px rgba(0, 0, 0, 1);
overflow: hidden;
text-align: left;
padding: 20px;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card :hover {
    transform: translate(-10x);
    box-shadow: 0px 0px 0 rgba(0, 0, 0, 0), /* Pas d'ombre sur le haut et la gauche */
    30px 30px 50px rgba(0, 0, 0, 0.9); /* Ombre plus marquée au survol sur la droite et le bas */
}
/*centrer l'image*/
.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;/*ajuste l'image pour remplir l'espace*/
    border-radius: 10px; /*arrondt lègerement les coins*/
}
/*styliser le contenu*/
.card-content {
    padding: 20px;
    text-align: left;
}
.card h2 {
    margin: 0;
    font-size: 15px;
    color:#333;
    border: 2px solid #e1c356;
    background-color: #E1C356;
    padding: 5px;
    display: inline-block;
    text-align: left;
    border-radius: 10px;
}
.card h1 {
    font-size: 20px;/*pour ajuster la taille de la police*/
    white-space: nowrap;/*empêche le retour à la ligne*/
}
.card h3 {
    font-size: 10px;
}
/*styliser le contenu*/
.card p {
    font-size: 16px;
    color:rgb(21, 5, 5);
    margin: 10px 0;
    filter: blur(0.5px); /*ajouter un léger flou*/
}
/*styliser le bouton*/
.card a {
    display: block;
    padding: 15px 25px;
    background:#e1c356;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;/*transition de changement de couleur*/
    font-size: 25px;
    font-weight: bold;
    margin: 20px auto 0;
    width: 80%;
    text-align: center;
}
.card a:hover {
    background: #E1C356;
}

